.counter {
  color: $color-grey-light;
  width: 100%;
  display: flex;

  &__box {
    padding: 1rem 1.5rem;
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-accent-2;
    border-radius: 0.5rem;
    position: relative;

    @include respond(phone) {
      width: 6rem;
      height: 6rem;
      font-size: 3rem;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--days,
    &--hours,
    &--minutes,
    &--seconds {
      &::before {
        position: absolute;
        font-size: 1.4rem;
        bottom: -2.5rem;
        color: $color-grey-light;

        @include respond(phone) {
          font-size: 1.2rem;
        }
      }
    }

    &--days {
      &::before {
        content: 'Days';
      }
    }

    &--hours {
      &::before {
        content: 'Hours';
      }
    }

    &--minutes {
      &::before {
        content: 'Minutes';
      }
    }

    &--seconds {
      &::before {
        content: 'Seconds';
      }
    }
  }
}
