//Social Team
.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    text-decoration: none;

    margin: 0.5rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-accent-1;
    transition: 0.2s ease;

    &:hover {
      fill: $color-accent-2;
    }
  }
}
