// Colors
$color-primary-1: #a7756a;
$color-primary-2: #78311f;
$color-primary-3: #481b15;

$color-secondary-1: #d24d57;
$color-secondary-2: #ba5926;

$color-accent-1: #40e5db;
$color-accent-2: #3f9dac;
$color-accent-3: #201c29;

$color-grey-light: #f7f7f7;
$color-grey-dark: #0b0b0b;

// Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.2);

// Font
$default-font-size: 1.7rem;
$font-family: 'Open Sans', sans-serif;
$font-display: 'ChineseRocksRg-Regular';

//Grid
$grid-width: 136.6rem;
